name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: "1.22"

    - name: Clean Go build cache
      run: go clean -cache -modcache -i -r

    - name: Remove old compiled files
      run: rm -rf ./bin ./pkg

    - name: Tidy modules
      run: go mod tidy

    - name: List files for debugging
      run: |
        pwd
        ls -R internal

    - name: Download dependencies
      run: go mod download

    - name: Build
      run: go build ./...

    - name: Run tests
      run: go test ./... -v

